
.outputScreen {
  $outputScreenHeight: 100px;
  height: $outputScreenHeight;
  width: 100%;
  padding: 10px 10px 0;
  position: relative;
  &__prompt {
    position: absolute;
    bottom: -20px;
    font-weight: bolder;
  }
  &__prime {
    color: #dcbd7e;
  }
  &__currentDirectory {
    color: #ac95b7;
  }
}
