
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
//  font: 14px "Century Gothic", Futura, sans-serif;
}

.app {
  > * {
    height: 100vh;
  }
}
$menuWidth: 250px;
$consoleWidth: 450px;
.mainDisplay {
  position: absolute;
  margin: 0 $consoleWidth 0 $menuWidth;
  width: calc(100% - #{$menuWidth} - #{$consoleWidth});
  background-color: yellow;
}
.menu {
  float: left;
  width: $menuWidth;
  background-color: red;
}
.console {
  float: right;
  width: $consoleWidth;
  background-color: blue;
  position: relative;
}

@import './console/console';
@import './console/calendar';
@import './console/terminal';
@import './console/interface';
