
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Courier, Monaco, monospace;
}
body {
}

$black: #2f2f3e;
$white: #eee;
$blue: #28457a;
$lightblue: #7EC7D8;
$bgBlack: #333;
$terminal: #444;
$gray: #777;


$innerBorderColor: #aaa;

.app {
  > * {
    height: 100vh;
  }
}
$menuWidth: 250px;
$consoleWidth: 450px;
.mainDisplay {
  position: absolute;
  margin: 0 $consoleWidth 0 $menuWidth;
  width: calc(100% - #{$menuWidth} - #{$consoleWidth});
  background-color: $bgBlack;
}
.menu {
  float: left;
  width: $menuWidth;
  background-color: $black;
}
.console {
  float: right;
  width: $consoleWidth;
  background-color: $black;
  position: relative;
}

@import './menu/menu';
@import './menu/menuItem';

@import './console/console';

@import './mainDisplay/mainDisplay';
